
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Cookie', cursive;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: #f4e4e8;
}

header{
    background-color: #9A616D;
    display: flex;
    
}

nav{
    display: flex;
    justify-content: center;
   
    height: 5rem;
}

ul{
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    width:60%;
}

li{
    font-size:1.3rem;
    color:aliceblue;
    width:20%;

}

li:hover{

}